*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.foot{
    background: #000000;
}

.foot-content-bar{
    display: flex;
    justify-content: space-between;
  }

.foot-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.foot-content-bar p {
    padding-left: 1.2em;
    padding-right: 1.2em;
    color: #ffffff;
    font-family: sans-serif;
}

.foot-content-cp{
    display: flex;
    justify-content: space-between;
}

.foot-content p {
    padding: 10px;
    color: #ffffff;
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-family: sans-serif;
}
